html,
body {
  height: 100%;
  overflow-x: hidden;
}

.App {
  height: 100%;
  display: grid;
  grid-template-rows: 5rem repeat(auto-fill, minmax(4rem, 1fr));
  grid-template-columns: 18rem repeat(auto-fill, minmax(18rem, 1fr));
}

.main-container {
  grid-row: 2 / span all;
  grid-column: 2 / span all;
  width: 100%;
}


@media screen and (max-width: 865px){
  .App {
    height: 100%;
    display: block;
  }
  .main-container {
    width: 100%;
  }
}
