.container {
  height: 5rem;
  margin: 0.2rem 1.5rem;
  margin-bottom: 2rem;
  grid-column: 2 / span all;
}

.navbar{
    width: 100%;
}

.navList {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.listItem {
  display: inline-block;
  margin-left: 1.8rem;
  font-size: 1.1rem;
  color: #beb9b9;
  cursor: pointer;
}

.listItem a , .smallListItem a{
  text-decoration: none;
  color: #beb9b9;
}

.link a,
.link p {
  display: inline-block;
}

.sidebarBtn{
  width: 50px;
  margin-right: auto;
  display: none;
}

.sidebarBtn:hover{
  cursor: pointer;
}

.burgerContainer{
  border: 1px solid #beb9b9;
  padding: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.burgerContainer span{
  width: 20px;
  border-top: 2px solid #beb9b9;
  margin: 0.2rem auto;
}

.searchBox {
  position: relative;
  display: flex;
  border-radius: 1rem;
  width: 100%;
  height: 2rem;
  align-items: center;
  transform: translateY(-7%);
  z-index: 20;
}

.searchBox input {
  border: none;
  background: none;
  outline: none;
  display: none;
  margin-left: 0.4rem;
  width: 12rem;
  color: #e2e2e2;
}

.closeIcon{
  margin-right: 0.5rem;
  border: none;
  outline: none;
  background: none;
  color: #beb9b9;
  font-size: 1.1rem;
  cursor: pointer;
  transform:translateY(10%); 
}

.searchBtn {
  margin-right: 0.5rem;
  border: none;
  outline: none;
  background: none;
  color: #beb9b9;
  font-size: 1.1rem;
  cursor: pointer;
  transform:translateY(10%);
}

.searchResults {
  position: absolute;
  top: 2.5rem;
  width: 101%;
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-wrap: nowrap;
  background: rgb(34, 43, 48);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.22);
  z-index: 20;
}

.resultRow {
  display: flex;
  margin: 0.5rem 0;
}

.resultRow img {
  justify-self: flex-start;
}

/* For smaller devices */

.smallList{
  display: flex;
  align-items: center;
  list-style: none;
  width: 100%;
  padding: 0;
}

.searchContainer{
  position: relative;
}

.searchListItem{
  flex-grow: 1;
}

.searchInput{
  width: 100%;
  outline: none;
  padding: 0.2rem;
  height: 2rem;
  font-size: 1.1rem;
  background-color: rgba(34, 43, 48, 1);
  border: 1px solid #fff;
  color: #fff;
}

.backIcon{
  font-size: 2rem;
}

@media screen and (max-width: 865px){
  .sidebarBtn{
    display: block;
  }
}

