.container {
  vertical-align: bottom;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row: 1 / span all;
  min-height: 100vh;
  width: 17rem;
  background-color: rgb(34, 43, 48);
  z-index: 2;
  /* animation: slideFromLeft 500ms; */
}

.sidebarList {
  list-style: none;
  padding: 0;
  margin-bottom: 4rem;
}

.listItem {
  margin-top: 1rem;
  flex: 0 0 100%;
  /* animation: slideFromLeft showBG 350ms 300ms; */
}

.listTitle {
  color: #484b4d;
}

.clickableItem a {
  text-decoration: none;
  color: #e2e2e2;
}

.genreClickableItem a {
  text-decoration: none;
  color: #797d80;
}

.clickableItem a:hover,
.clickableItem a:focus,
.genreClickableItem a:hover,
.genreClickableItem a:focus {
  outline: 0;
}

.isActive h4 {
  color: #1b5f27;
}

.disabledLink{
  color: #666666;
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes showBG {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 865px){
  .container{
    position: fixed;
    top:0;
    left:0;
    z-index: 1000;
    display: none;
  }
}
